POSTGRES_AUTH_URL=
POSTGRES_AUTH_USER=
POSTGRES_AUTH_PASSWORD=
POSTGRES_AUTH_PORT=
POSTGRES_AUTH_DB=
POSTGRES_AUTH_HOST=

ACCESS_TOKEN_LIFETIME_S=
RESET_PASSWORD_TOKEN_SECRET=
VERIFICATION_TOKEN_SECRET=
JWT_SECRET=
ALGO=
AUTH_SERVICE_TOKEN=